@import url('https://fonts.googleapis.com/css2? family = Mate + SC & display = swap');
body{
    font-family: 'Mate SC', serif;
}
form{
    height: 50vh;
    align-items: center;
}
.card{
    align-items: center;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

button.button{
    margin-top: 20px;
}